body {
    background-color: bisque;
    margin: 0;
    padding: 20px;
    text-align: center;
    /* Centra todo */
}

h1, h2, h3, h4, h5, h6 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
}

p {
    font-family: "Varela";
    text-align: center;
    max-width: 800px;
    margin: 20px auto;
}

iframe {
    display: block;
    margin: 20px auto;
    width: 600px;
    height: 400px;
    border: 0;
}

img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
}